body {
    background-color: #8f4df8;
    overflow-x: hidden;
}

.main-todo-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3);
    
    
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative
}

.main-todo-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px
}

.main-todo-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative
}

.main-todo-input-item input:first-child {
    border-radius: 100%
}

.main-todo-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px
}

.main-search-button {
    background: #4DB7FE
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer
}

.main-todo-input-wrap {
    max-width: 600px;
    margin: 0px auto;
    position: relative
}

:focus {
    outline: 0
}

@media only screen and (max-width: 768px) {
    .main-todo-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0)
    }

    .main-todo-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px
    }

    .main-todo-input-item input {
        border-radius: 6px !important;
        background: #fff
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px
    }
}

.remove {
    float: right;
    color: #757575 !important;
    font-size: 14px
}

#list-items {
    padding-left: 20px;
    padding-top: 15px
}

ul {
    padding: 0;
    text-align: left;
    list-style: none
}

.todo-text {
    color: #757575;
    margin-left: 10px
}

.strike {
    color: blue
}

.todo-listing {
    padding: 0px 29px 0 0;
    margin-top: 54px !important
}

.items{
    border-bottom: 1.5px solid #8c508a;
}

.button {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}


.delete_button:hover{
    color: red;
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}
.edit_button:hover{
    color: orangered;
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}

.selection_card{
   
    height: 80px;
    width: 180px;
    background-color: white !important;
    border-radius: 4px;
    line-height: 80px;
    font-weight: bold;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    font-size: 30px;
    
}

.selection_card:hover{
    transition: ease-in-out 0.2s;
    box-shadow: 1px 1px 5px 2px;
    
}

.text-small {
    font-size: 0.9rem !important;
}



.cursor-pointer {
    cursor: pointer;
}

.boxes{
    cursor: pointer;
}

a{
    color: grey;
}

a:visited{
    
}
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

.time_task{
    border: 2px solid black;
}
.centerIT{
    margin: 0 auto;
    text-align: center;
    padding: 8px;
}